<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <div class="container">

  <div class="container botones">
    <button mat-raised-button>
      <a mat-button href="" routerLink="agregar-empleado"> Agregar Empleado </a>
    </button>
    <button mat-raised-button color="primary">
      <a mat-button href="" routerLink="editar-empleado"> Editar Empleado </a>
    </button>
    <button mat-raised-button color="warn">
      <a mat-button href="" routerLink="listar-empleado"> Listar Empleado </a>
    </button>
  </div>
</div> -->
