<!-- <h1>CRUD</h1>
<div class="container">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button> <a mat-button href="" routerLink="agregar-empleado"> Agregar Empleado </a></button>
    <button mat-raised-button color="primary"> <a mat-button href="" routerLink="editar-empleado"> Editar Empleado </a></button>
    <button mat-raised-button color="warn">  <a mat-button href="" routerLink="listar-empleado"> Listar Empleado </a></button>
  </mat-toolbar>
</div>
<div class="container">
  <router-outlet>

  </router-outlet>
</div> -->

<app-login></app-login>
